*
{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Helvetica Neue"sans-serif, Helvetica;
}
#navbar
{
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar{
  background-image: linear-gradient(to right, #009999, #5f1782);
}

.jumbotron{
  position: sticks;
  align-content: left;
  padding: 5%;
}
#miniquiz {
  text-align: center;
}
.container {
  text-align: center;
}
#picture{
  text-align: center;
}
#lightspectrum
.container{
  padding:15%
}
.row
